@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Jost:wght@100;200&family=Rubik:wght@500&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1 {
	color: #fff;
	font-family: 'Comfortaa', sans-serif;
	font-size: 35px;
	position: fixed;
	top: 50%;
	left: 50%;
	letter-spacing: 3px;
	transform: translate(-50%, -50%);
	text-align: center;
	margin: 0;
}

